---
layout: default
title: Home
notitle: true

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - roles: [faculty, postdoc, staff]
    width: 4
    image: true
  - roles: [phd, masters, ugrad]
    width: 8
    image: true
- - roles: [collab, ugrad-alum]
    width: 5
    image: false
  - roles: [alum]
    width: 7
    image: false

---

<div class="jumbotron">
    <p>
        The <b>Robotic Exploration Lab</b> in <b>The Robotics Institute</b> at <b>Carnegie Mellon University</b> conducts research in control, motion planning, and navigation for robotic systems that explore our planet and our universe.
    </p>
</div>

<section>
    <h2>Latest News</h2>
    <div class="tweets">
        <bsky-embed
            username="mitrexlab.bsky.social"
            limit="1"
            mode="light"
            load-more="true"
        ></bsky-embed>
    </div>
</section>

<section>
    <h2>Research</h2>
    <div class="card-columns">
        {% comment %}
        Sort the projects by date, putting those without dates last
        {% endcomment %}
        {% assign projects_by_date = site.projects | sort: 'last-updated', 'first' %}
        {% assign projects_by_date = projects_by_date | reverse %}
        {% for p in projects_by_date %}
            {% if p.status != "inactive" %}
                {% include project-card.html project=p %}
            {% endif %}
        {% endfor %}
    </div>
</section>

<div id="people">
    <h2>People</h2>
    {% for role-table in page.role-tables %}
        <section class="people row justify-content-between">
            {% for role-column in role-table %}
                <div class="col-md-{{ role-column.width }}">
                    {% for role in role-column.roles %}
                        {% include role-people.html role=role image=role-column.image %}
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    {% endfor %}
</div>
