<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="20"
						height="20" alt="PDF" />
				<a href="https://rexlab.stanford.edu/papers/ALGAMES.pdf">ALGAMES: A Fast Solver for Constrained Dynamic Games</a>.
			</span><br />
			<span class="authors">
				Simon Le Cleac'h, Mac Schwager, and Zachary Manchester.
			</span><br />
			<span class="venuetype"></span><span class="venue">International Conference on Robotics and Automation</span>.
			<span class="note">
			Submitted
			</span>
			<br />
			<span class="links">
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="20"
						height="20" alt="PDF" />
				<a href="https://rexlab.stanford.edu/papers/distributed_quads.pdf">Scalable Cooperative Transport of Cable-Suspended Loads with UAVs Using Distributed Trajectory Optimization</a>.
			</span><br />
			<span class="authors">
				Brian E Jackson, Taylor A Howell, Kunal Shah, Mac Schwager, and Zachary Manchester.
			</span><br />
			<span class="venuetype"></span><span class="venue">International Conference on Robotics and Automation</span>.
			<span class="note">
			Submitted
			</span>
			<br />
			<span class="links">
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				November
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="20"
						height="20" alt="PDF" />
				<a href="https://rexlab.stanford.edu/papers/altro-iros.pdf">ALTRO: A Fast Solver for Constrained Trajectory Optimization</a>.
			</span><br />
			<span class="authors">
				Taylor A Howell, Brian E Jackson, and Zachary Manchester.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE/RSJ International Conference on Intelligent Robots and Systems (IROS)</span>.
			<span class="note">
			Accepted
			</span>
			<br />
			<span class="links">
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				November
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="20"
						height="20" alt="PDF" />
				<a href="https://rexlab.stanford.edu/papers/l1-cost-optimizer.pdf">Fast Solution of Optimal Control Problems with L1 Cost</a>.
			</span><br />
			<span class="authors">
				Simon Le Cleac'h and Zachary Manchester.
			</span><br />
			<span class="venuetype"></span><span class="venue">2019 AAS/AIAA Astrodynamics Specialist Conference</span>.
			<span class="note">
			Accepted
			</span>
			<br />
			<span class="links">
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				August
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				PyCubed: An Open-Source, Radiation-Tested CubeSat Platform Programmable Entirely in Python.
			</span><br />
			<span class="authors">
				Maximillian Holliday, Andrea Ramirez, Connor Settle, Tane Tatum, Debbie Senesky, and Zachary Manchester.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the AIAA/USU Conference on Small Satellites</span>.
			<br />
			<span class="links">
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				May
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://journals.sagepub.com/doi/10.1177/0278364919849235">Contact-Implicit Trajectory Optimization Using Variational Integrators</a>.
			</span><br />
			<span class="authors">
				Zachary Manchester, Neel Doshi, Robert J Wood, and Scott Kuindersma.
			</span><br />
			<span class="venuetype"></span><span class="venue">The International Journal of Robotics Research</span>.
			<br />
			<span class="links">
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				February
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://arxiv.org/abs/1902.08705">A General Framework for Structured Learning of Mechanical Systems</a>.
			</span><br />
			<span class="authors">
				Jayesh K. Gupta, Kunal Menda, Zachary Manchester, and Mykel J. Kochenderfer.
			</span><br />
			<span class="venuetype"></span><span class="venue">IROS 2019</span>.
			<span class="note">
			In Review
			</span>
			<br />
			<span class="links">
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				February
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://arxiv.org/abs/1902.03319">A Differentiable Augmented Lagrangian Method for Bilevel Nonlinear Optimization</a>.
			</span><br />
			<span class="authors">
				Benoit Landry, Zachary Manchester, and Marco Pavone.
			</span><br />
			<span class="venuetype"></span><span class="venue">Robotics: Science and Systems 2019</span>.
			<span class="note">
			In Review
			</span>
			<br />
			<span class="links">
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Bilevel Optimization for Planning through Contact: A Semidirect Method.
			</span><br />
			<span class="authors">
				Benoit Landry, Joseph Lorenzetti, Zachary Manchester, and Marco Pavone.
			</span><br />
			<span class="venuetype"></span><span class="venue">Int. Symp. on Robotics Research</span>.
			<br />
			<span class="links">
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="20"
						height="20" alt="PDF" />
				<a href="https://rexlab.stanford.edu/papers/magnetorquer_only.pdf">MAGNETORQUER-ONLY ATTITUDE CONTROL OF SMALL SATELLITES USING TRAJECTORY OPTIMIZATION</a>.
			</span><br />
			<span class="authors">
				Andrew Gatherer and Zac Manchester.
			</span><br />
			<span class="venuetype"></span><span class="venue">2019 AAS/AIAA Astrodynamics Specialist Conference</span>.
			<br />
			<span class="links">
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Bilevel Optimization for Planning through Contact: A Semidirect Method.
			</span><br />
			<span class="authors">
				Benoit Landry, Joseph Lorenzetti, Zachary Manchester, and Marco Pavone.
			</span><br />
			<span class="venuetype"></span><span class="venue">ISRR 2019 (In Review)</span>.
			<span class="note">
			In Review
			</span>
			<br />
			<span class="links">
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				July
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="20"
						height="20" alt="PDF" />
				<a href="https://rexlab.stanford.edu/papers/dirtrel-auro.pdf">Robust Direct Trajectory Optimization Using Approximate Invariant Funnels</a>.
			</span><br />
			<span class="authors">
				Zachary Manchester and Scott Kuindersma.
			</span><br />
			<span class="venuetype"></span><span class="venue">Autonomous Robots</span>.
			<span class="note">
			
			</span>
			<br />
			<span class="links">
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				June
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="20"
						height="20" alt="PDF" />
				<a href="https://rexlab.stanford.edu/papers/hamr-trajopt.pdf">Contact-Implicit Optimization of Locomotion Trajectories for a Quadrupedal Microrobot</a>.
			</span><br />
			<span class="authors">
				Neel Doshi, Kaushik Jayaram, Benjamin Goldberg, Zachary Manchester, Robert J Wood, and Scott Kuindersma.
			</span><br />
			<span class="venuetype"></span><span class="venue">Robotics: Science and Systems (RSS)</span>.
			<span class="note">
			
			</span>
			<br />
			<span class="links">
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				May
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://science.sciencemag.org/content/360/6389/632">Handedness in Shearing Auxetics Creates Rigid and Compliant Structures</a>.
			</span><br />
			<span class="authors">
				Jeffrey Ian Lipton, Robert MacCurdy, Zachary Manchester, Lillian Chin, Daniel Cellucci, and Daniela Rus.
			</span><br />
			<span class="venuetype"></span><span class="venue">Science 360(6389)</span>.
			<span class="note">
			
			</span>
			<br />
			<span class="links">
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				December
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="20"
						height="20" alt="PDF" />
				<a href="https://rexlab.stanford.edu/papers/Variational_Contact.pdf">Variational Contact-Implicit Trajectory Optimization</a>.
			</span><br />
			<span class="authors">
				Zachary Manchester and Scott Kuindersma.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the International Symposium on Robotics Research (ISRR)</span>.
			<span class="note">
			
			</span>
			<br />
			<span class="links">
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				September
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="20"
						height="20" alt="PDF" />
				<a href="https://rexlab.stanford.edu/papers/constrained-udp.pdf">Constrained Unscented Dynamic Programming</a>.
			</span><br />
			<span class="authors">
				Brian Plancher, Zachary Manchester, and Scott Kuindersma.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the IEEE/RSJ International Conference on Intelligent Robots and Systems (IROS)</span>.
			<span class="note">
			
			</span>
			<br />
			<span class="links">
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				July
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="20"
						height="20" alt="PDF" />
				<a href="https://rexlab.stanford.edu/papers/dirtrel.pdf">DIRTREL: Robust Trajectory Optimization with Ellipsoidal Disturbances and LQR Feedback</a>.
			</span><br />
			<span class="authors">
				Zachary Manchester and Scott Kuindersma.
			</span><br />
			<span class="venuetype"></span><span class="venue">Robotics: Science and Systems (RSS), Cambridge, MA</span>.
			<span class="note">
			
			</span>
			<br />
			<span class="links">
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				June
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="20"
						height="20" alt="PDF" />
				<a href="https://rexlab.stanford.edu/papers/Robot_Saw.pdf">Planning Cuts for Mobile Robots with Bladed Tools</a>.
			</span><br />
			<span class="authors">
				Jeffrey Lipton, Zachary Manchester, and Daniela Rus.
			</span><br />
			<span class="venuetype"></span><span class="venue">Robotics and Automation (ICRA), 2017 IEEE International Conference On</span>.
			<span class="note">
			pubs-conferece
			</span>
			<br />
			<span class="links">
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				March
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="20"
						height="20" alt="PDF" />
				<a href="https://arxiv.org/pdf/1609.09506.pdf">Stability of a Light Sail Riding on a Laser Beam</a>.
			</span><br />
			<span class="authors">
				Zachary Manchester and Abraham Loeb.
			</span><br />
			<span class="venuetype"></span><span class="venue">The Astrophysical Journal 837(2)</span>.
			<span class="note">
			
			</span>
			<br />
			<span class="links">
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				January
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="20"
						height="20" alt="PDF" />
				<a href="https://rexlab.stanford.edu/papers/Morphing_Wing.pdf">A Variable Forward-Sweep Wing Design for Enhanced Perching in Micro Aerial Vehicles</a>.
			</span><br />
			<span class="authors">
				Zachary Manchester, Jeffrey Lipton, Robert Wood, and Scott Kuindersma.
			</span><br />
			<span class="venuetype"></span><span class="venue">55th AIAA Aerospace Sciences Meeting</span>.
			<span class="note">
			
			</span>
			<br />
			<span class="links">
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				January
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="20"
						height="20" alt="PDF" />
				<a href="https://rexlab.stanford.edu/papers/Inertia_Estimation.pdf">Recursive Inertia Estimation With Semidefinite Programming</a>.
			</span><br />
			<span class="authors">
				Zachary Manchester and Mason Peck.
			</span><br />
			<span class="venuetype"></span><span class="venue">AIAA Guidance, Navigation, and Control Conference</span>.
			<span class="note">
			
			</span>
			<br />
			<span class="links">
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				December
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="20"
						height="20" alt="PDF" />
				<a href="https://rexlab.stanford.edu/papers/udp.pdf">Derivative-Free Trajectory Optimization with Unscented Dynamic Programming</a>.
			</span><br />
			<span class="authors">
				Zachary Manchester and Scott Kuindersma.
			</span><br />
			<span class="venuetype"></span><span class="venue">Decision and Control (CDC), 2016 IEEE 55th Conference On</span>.
			<span class="note">
			
			</span>
			<br />
			<span class="links">
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				June
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://spectrum.ieee.org/tech-talk/aerospace/space-flight/how-do-you-fly-to-alpha-centauri-in-just-20-years-ride-a-laser-beam">How Do You Fly to Alpha Centauri in Just 20 Years? Ride a Laser Beam</a>.
			</span><br />
			<span class="authors">
				Zachary Manchester.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE Spectrum</span>.
			<span class="note">
			
			</span>
			<br />
			<span class="links">
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				February
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="20"
						height="20" alt="PDF" />
				<a href="https://rexlab.stanford.edu/papers/Spin_Control.pdf">Lyapunov-Based Control for Flat-Spin Recovery and Spin Inversion of Spin-Stabilized Spacecraft</a>.
			</span><br />
			<span class="authors">
				Zachary Manchester.
			</span><br />
			<span class="venuetype"></span><span class="venue">AIAA/AAS Astrodynamics Specialist Conference</span>.
			<span class="note">
			pubs-conferece
			</span>
			<br />
			<span class="links">
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				January
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="20"
						height="20" alt="PDF" />
				<a href="https://rexlab.stanford.edu/papers/Variational_Integrator.pdf">Quaternion Variational Integrators for Spacecraft Dynamics</a>.
			</span><br />
			<span class="authors">
				Zachary Manchester and Mason Peck.
			</span><br />
			<span class="venuetype"></span><span class="venue">Journal of Guidance, Control, and Dynamics 39(1)</span>.
			<span class="note">
			
			</span>
			<br />
			<span class="links">
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2013</strong></big><br />
				
				August
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="20"
						height="20" alt="PDF" />
				<a href="https://rexlab.stanford.edu/papers/KickSat_SmallSat.pdf">Kicksat: A Crowd-Funded Mission to Demonstrate the World's Smallest Spacecraft</a>.
			</span><br />
			<span class="authors">
				Zachary Manchester, Mason Peck, and Andrew Filo.
			</span><br />
			<span class="venuetype"></span><span class="venue">AIAA/USU Conference on Small Satellites</span>.
			<span class="note">
			
			</span>
			<br />
			<span class="links">
		</td>
	</tr>
</tbody>
</table>
